.TitleContainer{
    width: 25rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    padding: 2rem;
    backdrop-filter: blur(8px);
    border-radius: 3rem;
    border: solid 2px #b03f0b;
    margin-right: 5rem;
    margin-bottom: 5rem;
    padding: .8rem;
    position: fixed;
    margin-top: 730px;
    margin-left: 20px;
}

.TitleContainer h1{
    font-weight: 400;
    font-size: 1rem;
}

@media screen and (max-width: 780px){
    .TitleContainer{
        width: 15rem;
    }    
}