.backgroundContainer{
    background-image: url('/JapaneseRoomO.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.ulContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ulContainer ul{
    max-width: 40rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    backdrop-filter: blur(15px);
    border: solid 2px #b03f0b;
    border-radius: 3rem;
    padding: .7rem;
    animation: slideInLeft 1s ease-out forwards;
    overflow-y: scroll;
}

.ulContainer ul::-webkit-scrollbar{
    width: 0;
}

.ulContainer li {
    width: 250px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


@media screen and (max-width: 780px){
    .ulContainer ul{
        max-width: 80%;
    }    
}